# Sample configuration for Base Widget extension

widgets:

    # A widget that renders a template, and uses the given 'content' to fill it.
    block1:
        location: aside_top
        template: contentblock.twig
        content:
            title: This is a sample widget
            excerpt: "Edit <tt>config/extensions/basewidget.bolt.yml</tt> to change the widgets."
        enabled: false

    # A widget that retrieves a record, and shows a block using that record
    block2:
        record: page/45
        location: aside_top
        template: contentblock.twig
        enabled: false

    # A very simple widget, with some static text
    block3:
        location: aside_bottom
        static: "<p>Basic, <em>fixed</em> text for a widget</p>"

    # Using caching, and deferred
    block4:
        location: aside_bottom
        static: "<h4>Deferred & Cached</h4><p>This widget is deferred (rendered asynchronously) and also cached for an hour.</p>"
        defer: true
        cacheduration: 3600
        enabled: true

    # Adding a widget to the Dashboard is also possible.
    block5:
        type: backend
        location: dashboard_aside_top
        template: backend_panel.twig
        content:
            icon: camera-retro # any font-awesome icon will work: http://fontawesome.io/icons/
            title: An example of a Dashboard widget
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et certamen honestum et disputatio splendida!"
            buttons:
                About:
                    type: primary
                    icon: heart
                    path: about # Note, Use a route that's registered in Bolt.
                Documentation:
                    type: default
                    icon: leanpub
                    link: 'https://docs.bolt.cm' # This can be a fixed (external) link
                    target: '_blank'
